include _assets/bemto/bemto
- set_bemto_settings({ modifier: "--" , class_delimiter :  ' | ' })

include ../components/head/head
include ../components/header/header
include ../components/footer/footer
include ../components/connect-js/scripts
//- контент
include ../components/content/block-with-img/block-with-img
include ../components/content/content-with-img/content-with-img
include ../components/content/block-for-features/block-for-features
include ../components/content/block-for-advantages/block-for-advantages
include ../components/content/block-for-articles/block-for-articles
include ../components/content/block-for-lists/block-for-lists
include ../components/content/files-for-download/files-for-download
//- формы
include ../components/forms/calculation-cost/calculation-cost
include ../components/forms/feedback/feedback
include ../components/forms/buy-one-click/buy-one-click
//- слайдеры
include ../components/sliders/tables/table
include ../components/sliders/full-slider/full-slider
include ../components/sliders/gallery/gallery


doctype html
html(lang="ru")
  head
    +head({
      "title": "Главная",
      "description": "Главная страница"
    })

+header()
+b.BODY.content-page
  h1 Заголовок первого уровня
  p Производственная компания "Нагорный Бетонный Завод" занимается <a href="#">производством бетона</a>, бетонных растворов и цементно-песчаный смесей высочайшего качества. <br>Так же мы осуществляем <a href="#">доставку бетона по Нижнему Новгороду и области</a> в кратчайшие сроки. 
  p.mobile-hide.desktop-on Бетон – это композиционный материал, состоящий из четырех основных элементов: воды, цемента, мелких и крупных заполнителей. В настоящее время он является материалом №1 в строительстве, занимая главенствующую позицию. Это происходит благодаря универсальности бетона, его прочности, а так же простоте использования.
  h2 Заголовок второго уровня
  p Производственная компания "Нагорный Бетонный Завод" занимается <a href="#">производством бетона</a>, бетонных растворов и цементно-песчаный смесей высочайшего качества. <br>Так же мы осуществляем доставку бетона по Нижнему Новгороду и области в кратчайшие сроки. 
  p.mobile-hide.desktop-on Бетон – это композиционный материал, состоящий из четырех основных элементов: воды, цемента, мелких и крупных заполнителей. В настоящее время он является материалом №1 в строительстве, занимая главенствующую позицию. Это происходит благодаря универсальности бетона, его прочности, а так же простоте использования.
  h3 Заголовок третьего уровня
  p Производственная компания "Нагорный Бетонный Завод" занимается <a href="#">производством бетона</a>, бетонных растворов и цементно-песчаный смесей высочайшего качества. <br>Так же мы осуществляем доставку бетона по Нижнему Новгороду и области в кратчайшие сроки. 
  p.mobile-hide.desktop-on Бетон – это композиционный материал, состоящий из четырех основных элементов: воды, цемента, мелких и крупных заполнителей. В настоящее время он является материалом №1 в строительстве, занимая главенствующую позицию. Это происходит благодаря универсальности бетона, его прочности, а так же простоте использования. 
  h4 Заголовок четвёртого уровня
  p Производственная компания "Нагорный Бетонный Завод" занимается <a href="#">производством бетона</a>, бетонных растворов и цементно-песчаный смесей высочайшего качества.  <br>Так же мы осуществляем доставку бетона по Нижнему Новгороду и области в кратчайшие сроки. 
  h5 Заголовок пятого уровня
  p Производственная компания "Нагорный Бетонный Завод" занимается <a href="#">производством бетона</a>, бетонных растворов и цементно-песчаный смесей высочайшего качества.  <br>Так же мы осуществляем доставку бетона по Нижнему Новгороду и области в кратчайшие сроки. 
  h6 Заголовок шестого уровня
  p Производственная компания "Нагорный Бетонный Завод" занимается <a href="#">производством бетона</a>, бетонных растворов и цементно-песчаный смесей высочайшего качества. <br>Так же мы осуществляем доставку бетона по Нижнему Новгороду и области в кратчайшие сроки. 

  +block-for-lists()
  +block-for-tables()   
  +gallery()  
  block-for-articles
    .title Классы бетона и&nbsp;область их применения
    +b.article-block
      +e.title Бетон M100
      +e.desc Данная марка используется при бетонной подготовке, а именно в подготовительных работах до заливки лент фундаментов или монолитных плит. Самую низкую марку раствора укладывают на песчаную подушку и после того как слой застынет, производят арматурные работы. Бетон М100 изготавливают на основе гранитного, известкового и гравийного щебня. 
      +e.A(href="#").button Подробнее
    +b.article-block.mobile-hide.desktop-on
      +e.title Бетон M150
      +e.desc Как и марка М100 используется при бетонной подготовке, а также при изготовлении полов, фундаментов, стяжек под малогабаритные сооружения, и во время установки бордюрного камня в строительстве дорог. Бетон М150 изготавливают на основе гравийного, гранитного и известкового щебня.
      +e.A(href="#").button Подробнее
    +b.article-block
      +e.title Бетон M200
      +e.desc Одна из популярных марок бетонного раствора. Прочности М200 достаточно для решения многих строительных задач: изготовление подпорных стен, отмосток, дорожек, бетонных лестниц и др. Также используется при изготовлении фундаментов и бетонных стяжек полов. Бетон М200 изготавливают на основе гравийного, гранитного и известкового щебня.
      +e.A(href="#").button Подробнее
    +b.article-block.mobile-hide.desktop-on
      +e.title Бетон M250
      +e.desc Основное применение данной марки изготовление ленточных, свайно-ростверковых и плитных монолитных фундаментов; площадок, подпорных стен, дорожек и многого другого. Бетон М250 изготавливают на гравийном, гранитном и известковом щебне.
      +e.A(href="#").button Подробнее 
    +b.article-block
      +e.title Бетон M300
      +e.desc Используют чаще всего в монолитных фундаментах, лестницах, отмостках, плитах перекрытий, монолитных стен и др. Бетон М300 изготавливают на гранитном, известковом и гравийном щебне.
      +e.A(href="#").button Подробнее
    +b.article-block.mobile-hide.desktop-on
      +e.title Бетон M350
      +e.desc Эта марка популярна в коммерческом строительстве. Основное предназначение: изготовление плит перекрытий, монолитных фундаментов, балок, чаш бассейнов, ригелей, колонн, перекрытий и других не менее важных конструкций. Чаще всего используется в железобетонных изделиях. Бетон М350 изготавливают на гранитном и гравийном щебне.
      +e.A(href="#").button Подробнее  
  
  +files-for-download()
  .feedback-form__container(style="background: url(img/sprite/fon-white.jpg);")
    +feedback-form()
  +footer()
  +scripts() 