mixin text-with-img()
  text-with-img
    .text-with-img__title Текст, сопровождаемый изображениями
    +b.text-with-img-content
      +e.right-img
        .text-with-img-content__img
          img(data-src="img/content/text-with-img--1.jpg").lazyload
        .text-with-img-content__text
          p Производственная компания "Нагорный Бетонный Завод" занимается <a href="#">производством бетона</a>, бетонных растворов и цементно-песчаный смесей высочайшего качества. Так же мы осуществляем <a href="#">доставку бетона по Нижнему Новгороду и области</a> в кратчайшие сроки.
          p Бетон – это композиционный материал, состоящий из четырех основных элементов: воды, цемента, мелких и крупных заполнителей. В настоящее время он является материалом №1 в строительстве, занимая главенствующую позицию. Это происходит благодаря универсальности бетона, его прочности, а так же простоте использования.
          p Производственная компания "Нагорный Бетонный Завод" занимается <a href="#">производством бетона</a>, бетонных растворов и цементно-песчаный смесей высочайшего качества. Так же мы осуществляем <a href="#">доставку бетона по Нижнему Новгороду и области</a> в кратчайшие сроки.
      +e.left-img
        .text-with-img-content__img
          img(data-src="img/content/text-with-img--2.jpg").lazyload
        .text-with-img-content__text
          p <a href="#">Марка бетона</a> показывает предел его прочности при сжатии и обозначается латинской буквой "М" и цифрами от 50 до 100, которые обозначают этот самый предел на сжатие в кг/см2. В зависимости от марки определяется и область использования бетона.
          p Бетон – это композиционный материал, состоящий из четырех основных элементов: воды, цемента, мелких и крупных заполнителей. В настоящее время он является материалом №1 в строительстве, занимая главенствующую позицию. Это происходит благодаря универсальности бетона, его прочности, а так же простоте использования.