mixin content-with-img()
  content-with-img
    .content-with-img__header
      .content-with-img__img:  img(src="img/content/marki-betona.jpg" alt="")
      .content-with-img__text
        .title Какие мы предлагаем марки бетона и где они применяются?
        .subtitle 
          p <a href="#">Марка бетона</a> показывает предел его прочности при сжатии и обозначается латинской буквой "М" и цифрами от 50 до 100, которые обозначают этот самый предел на сжатие в кг/см2. В зависимости от марки определяется и область использования бетона.
    .content-with-img__body
      p <span>Бетон М100</span> – один из легких типов бетона, применяемый при заливке фундамента и монолитных плит, для бетонной подготовки при работе с арматурой, а так же в дорожном строительстве. В основном укладывается тонким слоем на грунт или специальную песчаную подушку.
      p <span>Бетон М150</span> – так же является легким бетоном. Применяется для заливки монолитных плит и фундаментов при проведении подготовительных работ. Широко используется для образования стяжек при заливке полов, а так же при изготовлении бетонных тротуаров и бордюров. Иногда используется при строительстве небольших сооружений.
      p <span>Бетон М200</span> – используется в весьма широком спектре строительных работ, так как обладает высокой прочностью: строительство фундаментов, подпорных стен, обустройстве дорог и площадок. Применяется так же для строительства бетонных лестниц.
      p.mobile-hide.desktop-on <span>Бетон М250</span> – по области применения схож с М200. Однако обладает большей прочностью, а потому может использоваться при изготовлении плит перекрытий с небольшой нагрузкой.
      p.mobile-hide.desktop-on <span>Бетон М300</span> – универсальная, а потому самая популярная марка. Применяется при возведении стен, строительстве монолитных фундаментов (в том числе ленточных и свайно-ростверковых), для изготовления заборов, лестниц, площадок и так далее.
      p.mobile-hide.desktop-on <span>Бетон М350</span> – широко применяется в монолитном домостроении, при возведении зданий общественного назначения, для изготовления дорожных плит аэродромов, несущих колонн и т.д., так как отличается высокой прочностью и способен выдерживать повышенные нагрузки. Может использоваться при производстве балок и многопустотных плит перекрытия.
      p.mobile-hide.desktop-on <span>Бетон М400</span> – отличается быстрым схватыванием, однако и более высокой стоимостью. А потому менее популярен. За счет своей высокой надежности и прочности является незаменимым материалом при строительстве объектов, к которым предъявляются особые требования, например: банковские хранилища, гидротехнические соединения, аквапарки, бассейны, торговые и развлекательные комплексы и т.д.
      p.mobile-hide.desktop-on <span>Бетон М450</span> – имеет ограниченный спектр применения. Используется в гражданском строительстве для возведения плотин, дамб, метро и подобных объектов.
      p.mobile-hide.desktop-on <span>Бетон М500 и М550</span>  – отличаются самой высокой прочностью, так как имеют в своем составе большой процент цемента. Для возведения зданий применяются очень редко, используясь в основном в промышленном строительстве для возведения конструкций особого назначения.
