@import "../components/postcss-reset/mobile.css";
@import "helpers/_variables.scss";
@import "helpers/_fonts.scss";
@import "helpers/_base.scss";
@import "helpers/_mixins.scss";
@import "../components/header/header.scss";
@import "../components/footer/footer.scss";

/**************BEGIN: СЛАЙДЕРЫ ************************/
@import "../components/sliders/full-slider/full-slider.scss";
@import "../components/sliders/tables/table.scss";
@import "../components/sliders/gallery/gallery.scss";
/***************END: СЛАЙДЕРЫ *****************/

/**************BEGIN: ФОРМЫ ************************/
@import "../components/forms/forms.scss";
@import "../components/forms/calculation-cost/calculation-cost.scss";
@import "../components/forms/feedback/feedback.scss";
@import "../components/forms/buy-one-click/buy-one-click.scss";
/***************END: ФОРМЫ *****************/

/**************BEGIN: КОНТЕНТ ************************/
@import "../components/content/block-with-img/block-with-img.scss";
@import "../components/content/content-with-img/content-with-img.scss";
@import "../components/content/block-for-features/block-for-features.scss";
@import "../components/content/block-for-advantages/block-for-advantages.scss";
@import "../components/content/block-for-articles/block-for-articles.scss";
@import "../components/content/block-for-lists/block-for-lists.scss";
@import "../components/content/files-for-download/files-for-download.scss";
@import "../components/content/text-with-img/text-with-img.scss";
@import "../components/content/content-page.scss";
/***************END: КОНТЕНТ  *****************/
              
                   
                                                                       
                
            