mixin block-for-features()
  block-for-features
    .title Основные характеристики бетона
    +b.feature-block
      +e.title
        +e.IMG(data-src="img/content/durability.svg" alt="").img.lazyload
        +e.text Прочность
      +e.desc
        p.
          Является наиважнейшим свойством бетона, ведь от нее зависит его дальнейшая эксплуатация. Критерий прочности – это предел прочности бетона при сжатии, ведь бетон сильнее сопротивляется именно ему, нежели растяжению. Увеличение прочности происходит за счет физико-химических процессов взаимодействия цемента с водой. Они прекращаются, когда смесь высыхает или замерзает, а значит важно, чтобы бетон затвердевал в течение строго положенного отрезка времени.

    +b.feature-block
      +e.title
        +e.IMG(data-src="img/content/uniformity.svg" alt="").img.lazyload
        +e.text Однородность
      +e.desc
        p.
          Это серьезное технологическое требование. На однородность влияет качество цемента и заполнителей, пропорции используемых составляющих, количество которых должно быть четко выверенно, а так же тщательность приготовления самой смеси. От однородности бетона напрямую зависит его прочность.        

    +b.feature-block
      +e.title
        +e.IMG(data-src="img/content/density.svg" alt="").img.lazyload
        +e.text Плотность
      +e.desc
        p.
          Под плотностью понимается отношение массы бетона к его объему (кг/м3). Плотность так же сильно влияет на качество: чем она выше, тем прочнее бетон, а значит – тем выше его качество. На данное свойство существенное влияние оказывает наличие пор, которые образуются при изготовлении из-за испарения излишков воды, плохого перемешивания или из-за недостаточного количество цемента.