mixin full-slider() 
  slider.owl-carousel.owl-theme.owl-full-slider
    .owl-item
      .text
        h2 Нагорный Бетонный&nbsp;Завод №1
        h3 Соответствие всем современным требованиям и стандартам
        a(href="#") Подробнее
      picture
        source(media="(min-width: 1170px)" srcset="img/content/main-slide-1.jpg")
        source(media="(min-width: 768px)" srcset="img/content/main-slide-1--middle.jpg")
        img(src="img/content/main-slide-1--mini.jpg" alt="")
    .owl-item
      .text
        h2 Заголовок
        h3 Подзаголовок
        a(href="#") Подробнее
      img(data-src="img/content/main-slide-1.jpg" alt="")     