slider.owl-full-slider {
  overflow-x: hidden;

  h2 {
    font-size: 24px;
    font-weight: $RobotoBlack;
    color: rgb(255, 255, 255);
    line-height: 1.5;
    text-align: left;

    @media (min-width: $tablet) {
      font-size: 30px;
      line-height: 1.2;
    }

    @media (min-width: $desktop) {
      font-size: 60px;
    }
  }

  h3 {
    font-size: 14px;
    color: rgb(255, 255, 255);
    font-style: italic;
    line-height: 1.286;
    margin-top: 24px;
    text-align: left;

    @media (min-width: $tablet) {
      line-height: 1.5;
      margin-top: 9px;
    }

    @media (min-width: $desktop) {
      font-size: 24px;
      margin-top: 20px;
      max-width: 400px;
    }
  }

  a {
    font-size: 11px;
    font-weight: $RobotoMedium;
    color: $white-color;
    text-transform: uppercase;
    line-height: 2.25;
    background: $blue-color;
    height: 46px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: 22px;
    padding: 0px 26px;
    border-radius: 60px;

    @media (min-width: $tablet) {
      margin-top: 52px;
    }

    @media (min-width: $desktop) {
      font-size: 16px;
      height: 66px;
      margin-top: 77px;
      padding: 0px 37px;
    }
  }

  .text {
    position: absolute;
    z-index: 1;
    top: 52%;
    transform: translateY(-50%);
    width: 234px;
    right: calc(32px + 3vw);
    text-align: center;

    @media (min-width: $tablet) {
      width: 293px;
      top: 50%;
      right: calc(55px + 3vw);
      text-align: initial;
    }

    @media (min-width: $desktop) {
      width: 585px;
      right: calc((100vw - 1170px) / 2 - 12px);
      top: 44%;
    }
  }

  img {
    height: 247px;

    @media (min-width: $tablet) {
      height: 262px;
    }

    @media (min-width: $desktop) {
      height: 548px;
    }
  }

  .owl-item {
    width: 100vw;

    &.active {
      z-index: 1;
    }
  }

  .owl-nav {
    margin: 0;

    .owl-next,
    .owl-prev,
    .owl-next:hover,
    .owl-prev:hover {
      background: transparent;
      margin: 0;
      position: absolute;
      transform: translateY(-50%);
      background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 477.175 477.175' fill='%23e4e7e8'%3E%3Cpath d='M360.7 229L135.7 4c-5.4-5.3-14-5.3-19.2 0s-5.3 13.8 0 19L332 238.7 116.5 454c-5.3 5.4-5.3 14 0 19.2 2.6 2.6 6 4 9.5 4 3.4 0 7-1.3 9.5-4l225-225c5.4-5.3 5.4-14 .2-19z'/%3E%3C/svg%3E");
      height: 66px;
      width: 63px;

      @mixin inline-svg;
    }

    .owl-next {
      right: -10px;
      top: 50%;

      @media (min-width: $tablet) {
        right: 2px;
      }

      @media (min-width: $desktop) {
        right: 12.5%;
        top: 48%;
      }
    }

    .owl-prev {
      transform: rotate(180deg);
      left: -10px;
      top: 37%;

      &:hover {
        transform: rotate(180deg);
      }

      @media (min-width: $tablet) {
        left: -2px;
        top: 38%;
      }

      @media (min-width: $desktop) {
        left: 12.5%;
        top: 42%;
      }
    }
  }
}