mixin scripts()
  script(src="js/jquery/jquery.min.js")
  script(src="js/owl.carousel/owl.carousel.min.js")
  script(src="js/components/sliders/full-slider/full-slider.js")
  script(src="js/components/sliders/tables/table.js")
  script(src="js/components/sliders/gallery/gallery.js")
    