mixin scripts()
  //- плагины
  link(href="js/owl.carousel/owl.carousel.min.css" rel="stylesheet")
  link(href="js/owl.carousel/owl.theme.default.min.css" rel="stylesheet")
  //- основные стили
  link(rel="stylesheet" href="styles/styles.css" as="style")
  script(src="js/jquery/jquery.min.js")
  script(src="js/owl.carousel/owl.carousel.min.js")
  script(src="js/components/sliders/full-slider/full-slider.js" async)
  script(src="js/components/sliders/tables/table.js" async)
  script(src="js/components/sliders/gallery/gallery.js" async)
    