mixin block-for-advantages()
  block-for-advantages
    .title Наши преимущества
    +b.advantage-block
      +e.IMG(data-src="img/content/advantage--1.png" alt="").img.lazyload
      +e.title Надёжный партнёр
      +e.desc  Стабильность сейчас, завтра и в долгосрочной перспективе
    +b.advantage-block
      +e.IMG(data-src="img/content/advantage--2.png" alt="").img.lazyload
      +e.title Независимость
      +e.desc  Собственный автотранспорт, производство и складская база, возможность принятия решений самостоятельно и быстро.
    +b.advantage-block
      +e.IMG(data-src="img/content/advantage--3.svg" alt="").img.circle.lazyload
      +e.title Инновации
      +e.desc  Мы всегда на шаг впереди.
    +b.advantage-block.mobile-hide.tablet-on
      +e.IMG(data-src="img/content/advantage--4.svg" alt="").img.circle.lazyload
      +e.title Успех компании – наши работники
      +e.desc  Наши результаты – итог сплочённой командной работы мотивированных и профессиональных сотрудников.
    +b.advantage-block.mobile-hide.tablet-on
      +e.IMG(data-src="img/content/advantage--5.svg" alt="").img.circle.lazyload
      +e.title Наивысшее качество во всём
      +e.desc  Высокое качество обслуживания и выпускаемой продукции, старание помогать успеху наших заказчиков. Эта цель для нас приоритетна.
    +b.advantage-block.mobile-hide.tablet-on
      +e.IMG(data-src="img/content/advantage--6.png" alt="").img.lazyload
      +e.title Выполнение обязательств
      +e.desc  Безопасность людей, правила честной конкуренции имеют для нас огромное значение. Мы всегда думаем о завтрашнем дне.