mixin feedback-form()
  +b.DIV.feedback-form.forms_container
    +e.title: p Форма обратной связи
    +e.body 
      +e.field.middle
        label Ваше имя
        input(placeholder="_")
      +e.field.middle
        label Ваш телефон
        input(type="tel" placeholder="+ 7 (___) ___-__-__")
      +e.field.max
        label Ваш E-mail
        input(type="e-mail" placeholder="_")
      +e.field.middle
        label Вариант из списка
        form(action="").select
          label.label
          select.turnintodropdown_demo2
            option Частное лицо
            option Не частное лицо
            option Организация
      +e.field.textarea
        label Ваше сообщение
        textarea(name="comment", cols="30", rows="10")
    +e.buttons
      a(href="#").feedback-form__clear Очистить
      input(type="submit").feedback-form__submit