$mobile: 320px;
$tablet: 768px;
$desktop: 1170px;
$big-desktop: 1440px;
$black-color: #3c3d3c;
$blue-color: #307fbd;
$white-color: #ffffff;
$gray-color: #bcbcba;
$Roboto: 'Roboto', sans-serif;
$RobotoThin: 100;
$RobotoLight: 300;
$RobotoRegular: 400;
$RobotoMedium: 500;
$RobotoBlack: 900;