mixin block-with-img()
  block-with-img    
    .text
      .title Бетон с доставкой      
      p Производственная компания "Нагорный Бетонный Завод" занимается <a href="#">производством бетона</a>, бетонных растворов и цементно-песчаный смесей высочайшего качества. Так же мы осуществляем <a href="#">доставку бетона по Нижнему Новгороду и области</a> в кратчайшие сроки.

      p.
        Бетон – это композиционный материал, состоящий из четырех основных элементов: воды, цемента, мелких и крупных заполнителей. В настоящее время он является материалом №1 в строительстве, занимая главенствующую позицию. Это происходит благодаря универсальности бетона, его прочности, а так же простоте использования.
    .img
      img(data-src="img/content/beton-c-dostavkoi.jpg" alt="").lazyload