mixin block-for-articles()
  block-for-articles
    .title Новости
    +b.article-block
      +e.date 12/03/2018
      +e.title Обновление цен на бетон и аренду спецтехники
      +e.desc Компания "Нагорный Бетонный Завод" обновила цены на продукцию и аренду спецтехники. 
      +e.A(href="#").button Читать полностью
    +b.article-block.mobile-hide.tablet-on
      +e.date 11/02/2018
      +e.title Обновление дизайна сайта
      +e.desc Ура! Сегодня мы обновили наш сайт, чтобы Вам было удобно и просто делать заказ и находить нужную информацию.
      +e.A(href="#").button Читать полностью
    +b.article-block
      +e.date 9/02/2018
      +e.title Сегодня обновился прайс-лист на бетон
      +e.desc Сегодня мы обновили прайс-лист на бетонные растворы. 
      +e.A(href="#").button Читать полностью
    +b.article-block.mobile-hide.tablet-on
      +e.date 21/01/2018
      +e.title Обновление цен на доставку
      +e.desc Компания "Нагорный Бетонный Завод" обновила цены на доставку всех марок бетона.
      +e.A(href="#").button Читать полностью 