mixin files-for-download()
  files-for-download
    .title Оформление файлов для скачивания
    a(href="#" download).doc
      description
        name Beton_properties.docx
        size  12,3 Kb
    a(href="#" download).excel
      description
        name Beton_pricelist.xlsx
        size  14,6 Kb
    a(href="#" download).pdf
      description
        name Beton_instructions.pdf
        size  128,2 Kb    