block-for-gallery {
  display: block;
  padding-top: 20px;
  padding-bottom: 10px;
  width: 100%;

  @media (min-width: $desktop) {
    max-width: $desktop;
    margin-left: auto;
    margin-right: auto;
    padding-top: 67px;
    padding-bottom: 41px;
  }

  & > .title {
    font-weight: $RobotoBlack;
    color: $black-color;
    font-size: 30px;
    line-height: 0.867;

    @media (min-width: $desktop) {
      font-size: 36px;
      line-height: 0.722;
    }

    & + .owl-gallery-slider {
      margin-top: 24px;

      @media (min-width: $desktop) {
        margin-top: 47px;
      }
    }
  }

  .owl-carousel.owl-gallery-slider {
    img {
      object-fit: cover;
      height: 250px;
      object-position: bottom;
      width: 100vw;

      @media (min-width: 450px) {
        width: 49vw;
      }

      @media (min-width: $tablet) {
        width: 33vw;
        height: 260px;
      }

      @media (min-width: $desktop) {
        height: 270px;
        width: 100%;
      }
    }

    .owl-prev,
    .owl-next {
      height: 100%;
      position: absolute;
      top: 0;
      background: #000000;
      opacity: 0.5;
      width: 44px;
      display: flex;
      align-items: center;
      margin: 0;

      @media (min-width: $tablet) {
        width: 46px;
      }

      @media (min-width: $desktop) {
        width: 68px;
      }

      &::before {
        content: "";
        display: block;
        background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 477.175 477.175' fill='%23e4e7e8'%3E%3Cpath d='M360.7 229L135.7 4c-5.4-5.3-14-5.3-19.2 0s-5.3 13.8 0 19L332 238.7 116.5 454c-5.3 5.4-5.3 14 0 19.2 2.6 2.6 6 4 9.5 4 3.4 0 7-1.3 9.5-4l225-225c5.4-5.3 5.4-14 .2-19z'/%3E%3C/svg%3E");
        height: 66px;
        width: 63px;

        @mixin inline-svg;
        margin-top: -20px;

        @media (min-width: $desktop) {
          margin-top: 0;
        }
      }
    }

    .owl-prev {
      left: 0;

      &::before {
        transform: rotate(180deg);
      }
    }

    .owl-next {
      right: 0;
    }
  }
}
