mixin form--buy-one-click()
  +b.DIV.buy-one-click.forms_container
    +e.title
      p заказ бетона в один клик по&nbsp;самой выгодной цене
    +e.body
      +e.field.max       
        label Ваше имя
        input(placeholder="_")
      +e.field.middle        
        label Телефон
        input(placeholder="+ 7 (___) ___-__-__")
    .forms_container__button
      a(href="#") заказать