mixin block-for-tables()
  block-for-tables
    .title Оформление таблиц
    table-container
      table-header
        p Средняя прочность, кгс/см2
        p Класс бетона
        p Марка бетона
        p Область использования 
      table-body.owl-carousel.owl-table-slider
        item 
          parameter(label="Класс бетона"): p В7,5
          parameter(label="Марка бетона"): p М100
          parameter(label="Средняя прочность, кгс/см2"): p 98
          parameter(label="Область использования"): p Марка относится к легким видам бетона, не предназначенным для высоких нагрузок. Используется для проведения предварительных строительных работ.
        item 
          parameter(label="Класс бетона"): p В10, B12,5
          parameter(label="Марка бетона"): p М150
          parameter(label="Средняя прочность, кгс/см2"): p 131, 163
          parameter(label="Область использования"): p Так же считается легким бетоном. Используется для подготовительных работ, а так же для образования стяжек, изготовления бетонных тротуаров и бордюров
        item 
          parameter(label="Класс бетона"): p В15
          parameter(label="Марка бетона"): p М200
          parameter(label="Средняя прочность, кгс/см2"): p 196
          parameter(label="Область использования"): p Марка обычно используется для возведения подпорных стен, бетонных лестниц, при обустройстве дорог и площадок.
        item 
          parameter(label="Класс бетона"): p В20
          parameter(label="Марка бетона"): p М250
          parameter(label="Средняя прочность, кгс/см2"): p 262
          parameter(label="Область использования"): p По своим свойствам и области применения схож с М200, однако имеет более высокую прочность, а потому может быть использован при производстве плит с небольшой нагрузкой
        item 
          parameter(label="Класс бетона"): p В22,5
          parameter(label="Марка бетона"): p М300
          parameter(label="Средняя прочность, кгс/см2"): p 295
          parameter(label="Область использования"): p Универсальная, а потому самая популярная марка. Применяется в работах над фундаментом монолитного типа, при изготовлении лестниц, заборов, дорожек и т.д.
        item 
          parameter(label="Класс бетона"): p В25, В27,5
          parameter(label="Марка бетона"): p М350
          parameter(label="Средняя прочность, кгс/см2"): p 327, 369
          parameter(label="Область использования"): p Отличается высокой прочностью и может выдерживать большие нагрузки, в связи с чем широко применяется в монолитном домостроении. 