.header {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 14px;
    margin-bottom: 7px;

    @media (min-width: $tablet) {
      flex-direction: row;
      justify-content: space-between;
      padding-left: 15px;
      padding-right: 15px;
      margin-top: 1px;
      position: relative;
    }

    @media (min-width: $desktop) {
      max-width: $desktop;
      margin-left: auto;
      margin-right: auto;
      padding-left: 0;
      padding-right: 0;
      margin-top: 9px;
    }
  }

  &__logo {
    @mixin bg logo.png;

    @media (min-width: $tablet) {
      align-self: flex-start;
      margin-top: 13px;
    }
  }

  &__content {
    width: 100%;
    margin-top: 22px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    @media (min-width: $tablet) {
      width: calc(100% - 250px);
      margin-top: 0;
      padding-bottom: 52px;
    }

    @media (min-width: $desktop) {
      padding-bottom: 82px;
    }
  }
}

.header-callback {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  order: 0;
  background: #f2f2f1;
  padding: 5px 0px;

  @media (min-width: $tablet) {
    background: no-repeat;
    justify-content: flex-end;
    order: 1;
  }

  &__tel {
    margin-right: 9px;

    @media (min-width: $tablet) {
      margin-right: 23px;
    }

    .number {
      color: $black-color;
      font-weight: $RobotoMedium;
      font-size: 14px;

      @media (min-width: $tablet) {
        font-size: 18px;
      }

      span {
        font-size: 30px;
      }
    }
  }

  &__form {
    .button {
      width: 35px;
      height: 33px;
      font-size: 0;

      @mixin inline-svg;
      background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 606.61 853.23' fill='%231A6191'%3E%3Cpath d='M479.4 499C467 486.3 452 479.3 436 479.3c-15.6 0-30.7 6.8-43.6 19.8L352 539.3l-10-5c-4.6-2.4-9-4.6-12.6-7-38-24-72.4-55.4-105.4-96-16-20.2-26.8-37.2-34.6-54.5 10.5-9.6 20.3-19.6 29.7-29.2l11-11c26.8-26.7 26.8-61.6 0-88.5l-35-34.8-12-12.2c-7.7-8-15.7-16-24-23.8-12.5-12.3-27.3-18.8-43-18.8-15.6 0-30.7 6.5-43.5 18.8l-.2.3-43.5 44C12.4 237.7 3 257.6 1 280.8c-3 37.3 8 72 16.4 95 20.7 56 51.7 107.7 98 163.3 56 67 123.4 119.8 200.5 157 29.4 14 68.7 30.5 112.6 33.4l8 .2c29.6 0 54.5-10.7 74-31.8 0-.3.3-.4.4-.7 6.7-8 14.4-15.3 22.4-23 5.5-5.4 11.2-11 16.7-16.7 12.8-13 19.4-28.5 19.4-44.3 0-15.8-6.8-31-19.7-44l-70.3-70.4zm45.8 135c-5 5.3-10 10-15.6 15.5-8.3 8-16.7 16.3-24.7 25.6-13 14-28.2 20.5-48.2 20.5h-6c-38-2.6-73.3-17.4-99.8-30-72.4-35.2-136-85-189-148C98.5 464.7 69.3 416 50 363.8c-12-32-16.4-56.8-14.5-80.3 1.3-15 7-27.4 17.7-38L97 202c6-5.8 12.8-9 19.3-9 8 0 14.6 4.8 18.7 9l.4.3c7.8 7.3 15.2 15 23 23l12.2 12.3 35 35c13.5 13.6 13.5 26 0 39.7l-11 11c-10.8 11-21 21.3-32.2 31.2-.2.3-.5.4-.6.7-11 11-9 21.7-6.7 29l.5 1.2c9 22 22 42.8 41.4 67.5 35.3 43.5 72.6 77.5 113.7 103.4 5.2 3.4 10.6 6 15.7 8.6 4.6 2.3 9 4.5 12.7 6.8l1.6 1c4.4 2 8.5 3 12.7 3 10.6 0 17.3-6.6 19.5-8.7l43.8-43.7c4.3-4.4 11.2-9.6 19.3-9.6 7.8 0 14.4 5 18.3 9.3 0 .2 0 .2.3.3l70.5 70.5c13.3 13 13.3 26.5.2 40z'/%3E%3Cpath d='M505.8 196L382.5 319.5V254c0-9.4-7.7-17-17.2-17s-17.3 7.6-17.3 17V363c0 4.6 2 9 5 12.2 3.3 3.3 7.7 5 12.3 5h107.5c4.8 0 9-1.8 12.2-5 3-3 5-7.4 5-12.2 0-9.5-7.7-17.2-17.2-17.2H405l125.2-125c6.7-6.8 6.7-17.8 0-24.5-6.8-6.6-17.7-6.6-24.4 0z'/%3E%3C/svg%3E");

      @media (min-width: $tablet) {
        background: none;
        font-size: 15px;
        font-weight: $RobotoMedium;
        color: $gray-color;
        border: 2px solid $gray-color;
        width: auto;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 60px;
        padding: 1px 42px;
      }
    }
  }
}

.header-search {
  display: inline-flex;
  order: 2;
  padding-top: 10px;
  padding-right: 15px;

  @media (min-width: $tablet) {
    margin-left: auto;
    padding-right: 0;
    padding-top: 14px;
    padding-bottom: 26px;
    order: 0;
  }

  @media (min-width: $desktop) {
    padding-top: 9px;
    max-height: 53px;
  }

  &__help {
    font-weight: $RobotoLight;
    font-size: 13px;
    color: $blue-color;
  }

  &__form {
    display: flex;

    &::before {
      content: "I";
      display: inline-flex;
      font-weight: $RobotoLight;
      font-size: 13px;
      margin-right: 12px;
      margin-left: 11px;
    }

    #showSearchForm {
      display: none;

      &:checked {
        & ~ input[type="search"],
        & ~ input[type="submit"],
        & ~ .ornamental-line {
          display: flex;
        }

        & + label {
          @mixin bg icon_close.svg;

          @media (min-width: $desktop) {
            padding: 0px 8px;
            position: absolute;
            right: 2px;
          }
        }

        @media (min-width: $desktop) {
          & ~ .ornamental-line {
            display: none;
          }
        }
      }
    }

    label {
      @mixin bg icon_search.svg;
    }

    label {
      max-width: 18px;
      max-height: 18px;
      background-size: 18px 18px;
      cursor: pointer;
    }

    input[type="submit"] {
      -webkit-appearance: none;
      background-color: transparent;
      outline: none;
      border: none;
      font-size: 0;
      width: 30px;
      height: 44px;
      padding: 20px;
      margin-top: 28px;
      margin-left: -1px;
      background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 451 451'%3E%3Cpath d='M447 428L337.6 318.4c29.4-33.8 47.2-78 47.2-126C384.7 86 298.4 0 192.4 0 86 0 0 86.3 0 192.3s86.4 192.3 192.4 192.3c48.2 0 92.3-17.8 126-47.2L428.2 447c2.7 2.6 6.2 4 9.6 4s6.8-1.3 9.4-4c5.3-5.2 5.3-13.8 0-19zM27 192.3C27 101 101 27 192.3 27c91 0 165.3 74.2 165.3 165.3s-74.2 165.4-165.4 165.4c-91 0-165.3-74.2-165.3-165.4z'/%3E%3C/svg%3E");

      @mixin inline-svg;
      background-origin: content-box;
      width: 50px;
      height: 45px;
      padding: 11px 16px;

      @media (min-width: $tablet) {
        right: 271px;
        left: initial;
        margin-top: 25px;
      }

      @media (min-width: $desktop) {
        margin-top: -12px;
        opacity: 0;
        pointer-events: none;
      }
    }

    input[type="search"],
    input[type="submit"],
    .ornamental-line {
      display: none;
      position: absolute;
      left: 0;
    }

    input[type="search"] {
      width: 100%;
      border: 1px solid $gray-color;
      height: 45px;
      padding-left: 48px;
      font-weight: $RobotoLight;
      font-size: 16px;
      margin-top: 31px;
      color: $gray-color;
      z-index: 100;

      @media (min-width: $tablet) {
        margin-top: 28px;
        width: 320px;
        right: 0;
        left: initial;
      }

      @media (min-width: $desktop) {
        position: initial;
        margin-top: -13px;
        margin-right: -13px;
        padding-left: 18px;
      }
    }

    .ornamental-line {
      background: $blue-color;
      margin-top: 67px;
      width: calc(100% - 30px);
      left: 15px;
      height: 1px;

      @media (min-width: $tablet) {
        width: 290px;
        left: initial;
        right: 15px;
        margin-top: 64px;
      }
    }

    #fast-search-loader {
      display: none;
    }
  }
}

.header-menu {
  display: inline-flex;
  order: 1;
  margin-right: auto;
  padding-top: 10px;
  padding-left: 12px;

  @media (min-width: $tablet) {
    left: 0;
    bottom: 0;
    position: absolute;
  }

  @media (min-width: $desktop) {
    left: 5px;
    bottom: 38px;
  }

  #showMainMenu {
    display: none;
  }

  #showMainMenu + label {
    color: $black-color;
    font-size: 30px;
    line-height: 1;
    z-index: 2;
    cursor: pointer;
    // @mixin bg icon_hamburger.svg;
    @media (min-width: $desktop) {
      display: none;
    }
  }

  #showMainMenu:checked {
    & + label {
      z-index: 111;
      position: fixed;
      left: 14px;
      top: 14px;
      font-size: 0;

      @mixin bg icon_close--white.svg;
    }

    & ~ nav {
      display: flex;
    }
  }

  nav {
    display: none;
    background: #1a6191;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    padding-top: 48px;

    @media (min-width: $desktop) {
      display: flex;
      background: none;
      position: absolute;
      width: 1170px;
      height: auto;
      padding-top: 0;
    }
  }

  .root_menu {
    width: 100%;

    @media (min-width: $tablet) {
      column-count: 2;
      column-gap: 30px;
    }

    @media (min-width: $desktop) {
      column-count: initial;
      display: flex;
      flex-wrap: wrap;
    }

    li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: 15px;
      padding-right: 15px;
      position: relative;

      @media (min-width: $tablet) {
        padding-left: 13px;
        padding-right: 13px;
        display: block;
      }

      @media (min-width: $desktop) {
        margin-right: 13px;
        cursor: pointer;
      }

      &:hover {
        background: #216a9e;

        @media (min-width: $desktop) {
          background: none;

          & > a {
            color: #1a6191;
          }

          .submenu {
            display: flex;
          }
        }
      }
    }

    a {
      width: 100%;
      font-size: 16px;
      color: $white-color;
      line-height: 2.9;
      text-transform: uppercase;
      cursor: pointer;

      @media (min-width: $tablet) {
        line-height: 2.8;
      }

      @media (min-width: $desktop) {
        color: $black-color;
        font-weight: 500;
        font-size: 18px;
      }

      &:hover {
        color: $gray-color;
      }
    }

    input[type="checkbox"] {
      display: none;
    }

    input[type="checkbox"]:checked ~ ul {
      display: flex;
      margin-top: 45px;
    }

    input[type="checkbox"]:checked ~ a {
      z-index: 111;
      position: fixed;
      top: 47px;
      padding-left: 19px;

      @media (min-width: $tablet) {
        padding-left: 19px;
        left: 13px;
      }
    }

    input[type="checkbox"]:checked ~ label {
      position: fixed;
      z-index: 112;
      width: 100%;
      height: 40px;
      padding: 9px 16px;
      left: 0;
      top: 47px;

      &::after {
        transform: rotate(180deg);
        margin-left: -4px;

        @media (min-width: $tablet) {
          margin-top: 4px;
        }
      }
    }

    label {
      width: 100%;
      height: 100%;
      position: absolute;
      display: flex;
      align-items: center;
      left: 15px;
      cursor: pointer;
      padding-right: 28px;
      top: 0;

      @media (min-width: $tablet) {
        padding-right: 12px;
        margin-top: -3px;
      }

      @media (min-width: $desktop) {
        display: none;
      }

      &::after {
        content: "";
        display: block;
        margin-left: auto;
        width: 18px;
        height: 17px;
        background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 477.175 477.175' fill='%23fff'%3E%3Cpath d='M360.7 229L135.7 4c-5.4-5.3-14-5.3-19.2 0s-5.3 13.8 0 19L332 238.7 116.5 454c-5.3 5.4-5.3 14 0 19.2 2.6 2.6 6 4 9.5 4 3.4 0 7-1.3 9.5-4l225-225c5.4-5.3 5.4-14 .2-19z'/%3E%3C/svg%3E");

        @mixin inline-svg;
        // @mixin bg icon_arrow--white.svg;
      }
    }

    .submenu {
      display: none;
      flex-wrap: wrap;
      background: #1a6191;
      height: 100vh;
      width: 100vw;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 100;
      padding-top: 45px;
      flex-direction: column;
      margin-top: 46px;

      @media (min-width: $desktop) {
        width: 100%;
        position: absolute;
        height: auto;
        padding-top: 4px;
        left: -4px;
        min-width: max-content;
        margin-top: 52px;
      }

      li {
        padding-left: 13px;
        padding-right: 13px;

        @media (min-width: $desktop) {
          min-width: max-content;
          margin-right: 0;
          padding-left: 12px;
          padding-right: 32px;
        }

        &:hover {
          background: #216a9e;

          a {
            color: $gray-color;
          }
        }
      }

      a {
        text-transform: initial;

        &::first-letter {
          text-transform: uppercase;
        }

        @media (min-width: $tablet) {
          line-height: 2.9;
        }

        @media (min-width: $desktop) {
          font-size: 16px;
          color: $white-color;
        }
      }
    }
  }
}