.forms_container {
  input,
  label {
    font-size: 15px;
    font-weight: $RobotoLight;
    color: $black-color;
  }

  input {
    border: 1px solid #c7c7c6;
    height: 45px;
    border-radius: 60px;
    padding: 0 21px;
    min-width: 236px;
    width: 236px;
  }

  .min {
    input {
      min-width: 84px;
      width: 84px;
      text-align: center;
    }
  }

  .max {
    input {
      min-width: 313px;
      width: 313px;

      @media (min-width: $tablet) {
        min-width: 489px;
        width: 489px;
      }
    }
  }
}

.forms_container__button {
  a,
  input {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: $RobotoMedium;
    color: $white-color;
    background: $blue-color;
    height: 45px;
    border-radius: 60px;
    padding: 0px 54px;
    text-transform: uppercase;
    border: 1px solid $blue-color;
    cursor: pointer;
  }

  &::before {
    @media (min-width: $desktop) {
      content: "";
      width: 195px;
      height: 112px;
      margin-bottom: 28px;

      @mixin inline-svg;
      background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 578.27 578.27'%3E%3Cg fill='%23d4d2d2'%3E%3Cpath d='M487.5 0H90.7c-15.5 0-28 12.6-28 28v522.2c0 15.5 12.5 28 28 28h396.8c15.5 0 28-12.5 28-28v-522c0-15.6-12.5-28.2-28-28.2zm8.8 550.2c0 4.8-4 8.8-8.8 8.8H90.7c-4.8 0-8.8-4-8.8-8.8v-522c0-5 4-9 8.7-9h396.8c5 0 8.8 4 8.8 9v522z'/%3E%3Cpath d='M110.8 530h106V424H111v106zm19.3-86.7h67.6v67.5H130v-67.5zM236 530h106V424H236v106zm19.4-86.7H323v67.5h-67.6v-67.5zM361.4 530h106V299h-106V530zm19.3-212h67.5v192.8h-67.5V318zM110.8 404.8h106v-106H111v106zM130 318h67.6v67.5H130V318zM236 404.8h106v-106H236v106zm19.4-86.8H323v67.5h-67.6V318zM110.8 279.5h106v-106H111v106zm19.3-86.7h67.6v67.4H130v-67.4zM236 279.5h106v-106H236v106zm19.4-86.7H323v67.4h-67.6v-67.4zM361.4 279.5h106v-106h-106v106zm19.3-86.7h67.5v67.4h-67.5v-67.4zM110.8 144.6h356.6V48.2H110.8v96.4zm19.3-77h318.2v57.7h-318V67.5z'/%3E%3C/g%3E%3C/svg%3E");
    }
  }
}


